doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Page Ingredient
    // Bootstrap CSS
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css', integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l', crossorigin='anonymous')
    |     
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    |     
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js', integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns', crossorigin='anonymous')
    |     
    script(src='https://kit.fontawesome.com/9f82b43210.js', crossorigin='anonymous')
  |   
  body(style='background: pink')
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      ul.navbar-nav.mr-auto.navbar-light
        li.nav-item.active
          .nav-item.dropdown
            button.btn.btn-dark(type='button', data-toggle='dropdown')
              i.fas.fa-bars
            |           
            |             
            .dropdown-menu.bg-dark(style='text-align: left; width: 267px; height: 744px; margin-left: -17px;')
              a.navbar-brand.text-light
                br
                |                 
                img(src='img/kitty.png', alt='logo', style='width:75px; padding-left: 25px;')
                |                 Staff Name: Mint
                |               
                br
                br
              |               
              |               
              a.dropdown-item(style='color: black;', href='ingredient.html')
                img(src='img/harvest.png', alt='logo', style='width: 45px; margin-left: 10px;')
                | --&gt;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE27;&#xE31;&#xE15;&#xE16;&#xE38;&#xE14;&#xE34;&#xE1A;
              hr(width='200px', size='5', color='white')
              |               
              a.dropdown-item(style='color: black;', href='Allmenu.html')
                img(src='img/cupcake.png', alt='logo', style='width: 45px; margin-left: 10px;')
                | --&gt;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE02;&#xE2D;&#xE07;&#xE2B;&#xE27;&#xE32;&#xE19;
              hr(width='200px', size='5', color='white')
              |               
              a.dropdown-item(style='color: black;', href='sales_table.html')
                img(src='img/cheque.png', alt='logo', style='width: 45px; margin-left: 10px;')
                | --&gt;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE01;&#xE32;&#xE23;&#xE02;&#xE32;&#xE22;
              hr(width='200px', size='5', color='white')
              |               
              a.dropdown-item(style='color: black;', href='kitchen.html')
                img(src='img/cooking.png', alt='logo', style='width: 45px; margin-left: 10px;')
                | --&gt;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE1D;&#xE48;&#xE32;&#xE22;&#xE2B;&#xE49;&#xE2D;&#xE07;&#xE04;&#xE23;&#xE31;&#xE27;
              hr(width='200px', size='5', color='white')
              |               
              a.dropdown-item(style='color: black;', href='#')
                img(src='img/delivery-man.png', alt='logo', style='width: 45px; margin-left: 10px;')
                | --&gt;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE01;&#xE32;&#xE23;&#xE08;&#xE31;&#xE14;&#xE2A;&#xE48;&#xE07;
              hr(width='200px', size='5', color='white')
              |               
              |               
              br
              |               
              .container-sm
                button.btn.btn-danger.btn-block(type='button') Logout
        |         
        li.nav-item
          a.nav-link(href='/ingredient') &#xE15;&#xE32;&#xE23;&#xE32;&#xE07;&#xE08;&#xE31;&#xE14;&#xE01;&#xE32;&#xE23;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE27;&#xE31;&#xE15;&#xE16;&#xE38;&#xE14;&#xE34;&#xE1A;
        |         
        li.nav-item
          a.nav-link(href='/topping') &#xE15;&#xE32;&#xE23;&#xE32;&#xE07;&#xE08;&#xE31;&#xE14;&#xE01;&#xE32;&#xE23;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE17;&#xE47;&#xE2D;&#xE1B;&#xE1B;&#xE34;&#xE49;&#xE07;
        |         
        li.nav-item
          a.nav-link(href='/menu') &#xE15;&#xE32;&#xE23;&#xE32;&#xE07;&#xE08;&#xE31;&#xE14;&#xE01;&#xE32;&#xE23;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE40;&#xE21;&#xE19;&#xE39;&#xE02;&#xE2D;&#xE07;&#xE2B;&#xE27;&#xE32;&#xE19;
      // Brand/logo
      a.navbar-brand MamaPenguin
      |           
      img(src='https://i.pinimg.com/originals/13/b9/9a/13b99aab8bc10571cb6d0fc155f05a12.png', alt='logo', style='width:40px;')
    |     
    .container.p-3.my-3
      h1.text-black.text-center &#xE15;&#xE32;&#xE23;&#xE32;&#xE07;&#xE08;&#xE31;&#xE14;&#xE01;&#xE32;&#xE23;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE27;&#xE31;&#xE15;&#xE16;&#xE38;&#xE14;&#xE34;&#xE1A;
    // ส่วนของ การกด +add แล้วจะขึ้น Modal ขึ้นมาให้กรอกข้อมูลเพิ่มรายการวัตถุดิบ
    .container
      // Button to Open the Modal
      button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal')
        | +Add Ingredient
    // The Modal
    #myModal.modal.fade
      .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title &#xE40;&#xE1E;&#xE34;&#xE48;&#xE21;&#xE23;&#xE32;&#xE22;&#xE01;&#xE32;&#xE23;&#xE27;&#xE31;&#xE15;&#xE16;&#xE38;&#xE14;&#xE34;&#xE1A;
            |               
            button.close(type='button', data-dismiss='modal') &times;
          // Modal body
          .modal-body
            form(class="form-add" method="POST" action="/authingredient/ingredient")
              .form-group
                label(for='name' class="sr-only") Name:
                |                   
                input(type="text" name="name" id="name" class="form-control" placeholder="NAME" required)
              |                 
              .form-group
                label(for='amount' class="sr-only") Amount:
                |                   
                input(type="number" min='1' max='1000' value='0' name="amount" id="amount" class="form-control" placeholder="Amount Ingredient" required)
              |                 
              .form-group
                label(for='unit' class="sr-only") Unit:
                |                   
                input(type="text" name="unit" id="unit" class="form-control" placeholder="unit" required)
              |                 
              |                  
              button.btn.btn-primary(type='submit', value='submit') Submit
            // Modal footer
            .modal-footer
              button.btn.btn-danger(type='button', data-dismiss='modal') Close
    |     
    |   
    br
    // ส่วนของตาราง
    .container
      table.table.table-dark.table-striped.table-bordered.text-center
        // Nav tabs
        thead
          tr
            th ID
            th(<th='') Ingredient
            |             
            th Unit
            |             
            th Edit
            |             
            th Delete
        |         
        tbody
          tr
            td 001
            |             
            td &#xE19;&#xE21;&#xE02;&#xE49;&#xE19;&#xE2B;&#xE27;&#xE32;&#xE19;
            |             
            td &#xE21;&#xE34;&#xE25;&#xE25;&#xE34;&#xE01;&#xE23;&#xE31;&#xE21;
            |             
            td 1000
            |             
            td
              button.btn.btn-danger(type='button') Delete
          |           
          tr
            td 002
            |             
            td &#xE1C;&#xE07;&#xE42;&#xE01;&#xE42;&#xE01;&#xE49;
            |             
            td &#xE0A;&#xE49;&#xE2D;&#xE19;&#xE42;&#xE15;&#xE4A;&#xE30;
            |             
            td 500
            |             
            td
              button.btn.btn-danger(type='button') Delete
          |           
          tr
            td 003
            |             
            td &#xE19;&#xE21;&#xE02;&#xE49;&#xE19;&#xE08;&#xE37;&#xE14;
            |             
            td &#xE21;&#xE34;&#xE25;&#xE25;&#xE34;&#xE01;&#xE23;&#xE31;&#xE21;
            |             
            td 1000
            |             
            td
              button.btn.btn-danger(type='button') Delete
          |           
          tr
            td 004
            |             
            td &#xE19;&#xE21;&#xE2A;&#xE14;
            |             
            td &#xE21;&#xE34;&#xE25;&#xE25;&#xE34;&#xE01;&#xE23;&#xE31;&#xE21;
            |             
            td 1000
            |             
            td
              button.btn.btn-danger(type='button') Delete
          |           
          tr
            td 005
            |             
            td &#xE27;&#xE34;&#xE1B;&#xE1B;&#xE34;&#xE49;&#xE07;&#xE04;&#xE23;&#xE35;&#xE21;
            |             
            td &#xE21;&#xE34;&#xE25;&#xE25;&#xE34;&#xE01;&#xE23;&#xE31;&#xE21;
            |             
            td 2000
            |             
            td
              button.btn.btn-danger(type='button') Delete
          |           
          tr
            td 006
            |             
            td &#xE19;&#xE49;&#xE33;&#xE15;&#xE32;&#xE25;&#xE17;&#xE23;&#xE32;&#xE22;&#xE41;&#xE14;&#xE07;
            |             
            td &#xE01;&#xE23;&#xE31;&#xE21;
            |             
            td 1000
            |             
            td
              button.btn.btn-danger(type='button') Delete
    |     
    script(src='ingre.js')
